span{
    font-weight:bold;
}
ul{
    list-style:none;
}
.card img{
    width: 300px;
    margin-bottom:10px;
}
.card{
    border:1px solid #ddd;
    width: 300px;
    padding:5px 20px 20px 20px;
    margin:0 auto;
}

.animal-info{
    border:1px solid #ddd;
    width: 280px;
    padding: 10px 10px;
    margin:0 auto;
}

.body-text{
    padding:10px;
}